body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

button {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  font-size: 24px;
}

.display-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50px;
  width: 176px;
  flex-grow: 0;
  border: 1px solid salmon;
  border-radius: 10px;
}

.number {
  border: 1px solid rgb(24, 200, 186);
  border-radius: 10px;
}

.number:hover {
  background-color: rgb(24, 200, 186);
}

.operator {
  border: 1px solid slateblue;
  border-radius: 10px;
}

.operator:hover {
  background-color: slateblue;
}

.decimal {
  border: 1px solid gold;
  border-radius: 10px;
}

.decimal:hover {
  background-color: gold;
}

.equal {
  border: 1px solid pink;
  border-radius: 10px;
}

.equal:hover {
  background-color: pink;
}

.clear {
  border: 1px solid rgb(203, 16, 16);
  border-radius: 10px;
  margin: 0;
  margin-left: 14px;
}

.clear:hover {
  background-color: rgb(203, 16, 16);
}

.previous {
  font-size: 15px;
}

.current {
  font-size: 20px;
}